@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body, html {
    background: #0f1a4b;
    height: 100%;
    font-family: "微软雅黑";
    padding: 0;
    overflow: hidden;
    position: relative;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
  margin:0;
  padding:0;

}
input {
    outline: medium none;
}


.loginIndexPage{
  background-color: #0F1A4B;
  text-align: center;
  color: #fff;
  min-height: 680px;
}
.loginIndexPage input:-webkit-autofill {
	background: none;
	background-image: none;
}
.canvas-bg{
  background: url(/scms/login/images/canvas_bg.png) center center no-repeat;
  background-size: 1088px 680px;
  margin-top: 40px;
}
.loginIndex{
  width: 1088px;
  height: 680px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -544px;
  margin-top: -300px;
}
.loginIndex .login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -170px;
  width: 340px;
  height: 380px;
  background: url(/scms/login/images/form_bg.png) center center no-repeat;
}
.loginIndex .form-logo{
  width: 62px;
  height: 62px;
  margin-top: 28px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}
.loginIndex .logo-show{
  opacity: 1;
}
.loginIndex .form-title{
  padding-top: 0;
  padding-bottom: 15px;
  /*font-size: 18px;*/
}
.logobox{
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 50px;
}
.logobox img{
  height: 30px;
  vertical-align: -8px;
  display: inline-block;
}
.logobox span{
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}
.loginIndex .form-input-icon{
  position: absolute;
  margin-top: 17px;
  width: 14px;
  height: 14px;
  left: 25px;
}
.loginIndex .form-input-icon.form-pwd{
  width: 12px;
}
.loginIndex .form-input{
  background: transparent;
  border: none;
  padding: 17px 100px 17px 26px;
  border-bottom: 1px solid #468CE0;
  width: 290px;
  height: 50px;
  color: #fff;
}
.loginIndex .form-input.longer-input{
  line-height: 14px;
  padding-right: 1px;
}
input::-webkit-input-placeholder{
  color: #579BE9;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 1000px #367FDA;
}
.loginIndex .form-submit-btn{
  width: 290px;
  height: 40px;
  background: #4EA0FF;
}
.loginIndex .form-submit-btn:hover{
  color: #fff;
  background: #5FA8FD;
}
.loginIndex .form-submit-btn:focus{
  color: #fff;
  background: #4996F0;
  outline: 0;
}
.loginIndex .form-submit-btn:active{
  box-shadow: none;
}
#get-captcha2{
  display: none;
}
.loginIndex .get-captcha{
  position: absolute;
  float: right;
  margin-top: 10px;
  height: 30px;
  font-size: 12px;
  right: 25px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.15);
  border-radius: 4px;
}
.loginIndex .get-captcha:focus{
  outline: 0;
}
.loginIndex .get-captcha.captcha-again{
  color: #579BE9;
}
.loginIndex .login-error-msg{
  color: #ff6666;
  text-align: left;
  margin-top: 11px;
  margin-bottom: 12px;
  margin-left: 25px;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}
.loginIndex .split-point{
  display: inline-block;
  margin-bottom: 3px;
  height: 5px;
  width: 5px;
  background: #fff;
  border-radius: 50%;
}
.login-mascot{
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -77px;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.75s cubic-bezier(1, 0, 1, 1);
  -moz-transition: all 0.75s cubic-bezier(1, 0, 1, 1);
  transition: all 0.75s cubic-bezier(1, 0, 1, 1);
}
.login-mascot-bounce{
  -webkit-animation-name: flyme;
  -webkit-animation-duration: 1100ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: flyme;
  -moz-animation-duration: 1100ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  animation-name: flyme;
  animation-duration: 1100ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes flyme {
  3.125% { top: 60px;}
  6.25% { top: 59px;}
  9.375% { top: 58px;}
  12.5% { top: 57px;}
  15.625% { top: 56px;}
  18.75% { top: 55px;}
  21.875% { top: 54px;}
  25% { top: 53px;}
  28.125% { top: 52px;}
  31.25% { top: 51px;}
  34.375% { top: 50px;}
  37.5% { top: 49px;}
  40.625% { top: 48px;}
  43.75% { top: 47px;}
  46.875% { top: 46px;}
  50% { top: 45px;}
  53.125% { top: 46px;}
  56.25% { top: 47px;}
  59.375% { top: 48px;}
  62.5% { top: 49px;}
  65.625% { top: 50px;}
  68.75% { top: 51px;}
  71.875% { top: 52px;}
  75%{ top: 53px;}
  78.125% { top: 54px;}
  81.25%{ top: 55px;}
  84.375% { top: 56px;}
  87.5%{ top: 57px;}
  90.625% { top: 58px;}
  93.75%{ top: 59px;}
  96.875%{ top: 60px;}
  100% {top: 61px;}
}
@-moz-keyframes flyme {
  3.125% { top: 60px;}
  6.25% { top: 59px;}
  9.375% { top: 58px;}
  12.5% { top: 57px;}
  15.625% { top: 56px;}
  18.75% { top: 55px;}
  21.875% { top: 54px;}
  25% { top: 53px;}
  28.125% { top: 52px;}
  31.25% { top: 51px;}
  34.375% { top: 50px;}
  37.5% { top: 49px;}
  40.625% { top: 48px;}
  43.75% { top: 47px;}
  46.875% { top: 46px;}
  50% { top: 45px;}
  53.125% { top: 46px;}
  56.25% { top: 47px;}
  59.375% { top: 48px;}
  62.5% { top: 49px;}
  65.625% { top: 50px;}
  68.75% { top: 51px;}
  71.875% { top: 52px;}
  75%{ top: 53px;}
  78.125% { top: 54px;}
  81.25%{ top: 55px;}
  84.375% { top: 56px;}
  87.5%{ top: 57px;}
  90.625% { top: 58px;}
  93.75%{ top: 59px;}
  96.875%{ top: 60px;}
  100% {top: 61px;}
}
@keyframes flyme {
  3.125% { top: 60px;}
  6.25% { top: 59px;}
  9.375% { top: 58px;}
  12.5% { top: 57px;}
  15.625% { top: 56px;}
  18.75% { top: 55px;}
  21.875% { top: 54px;}
  25% { top: 53px;}
  28.125% { top: 52px;}
  31.25% { top: 51px;}
  34.375% { top: 50px;}
  37.5% { top: 49px;}
  40.625% { top: 48px;}
  43.75% { top: 47px;}
  46.875% { top: 46px;}
  50% { top: 45px;}
  53.125% { top: 46px;}
  56.25% { top: 47px;}
  59.375% { top: 48px;}
  62.5% { top: 49px;}
  65.625% { top: 50px;}
  68.75% { top: 51px;}
  71.875% { top: 52px;}
  75%{ top: 53px;}
  78.125% { top: 54px;}
  81.25%{ top: 55px;}
  84.375% { top: 56px;}
  87.5%{ top: 57px;}
  90.625% { top: 58px;}
  93.75%{ top: 59px;}
  96.875%{ top: 60px;}
  100% {top: 61px;}
}
.login-mascot-fly{
  top: -1000px;
}
.logo{
  width: 174px;
  position: absolute;
  top:30px;
  left:30px;
  z-index: 1;
}
.logo img{
  width: 100%;
}
@media (max-width: 450px){
  .logo{
    width: 120px;
    left: 10px;
    top:10px;
  }
}
